/* ///Evan's Portfolio/// */

/* body {
    background-image: url(../project1/img/bckgd_200.jpg);
    background-repeat: no-repeat;
   background-position: top left;
} */
body{
  background-color: rgb(255, 251, 246);
}

/* header{
  width: 600px;
  margin: 30px auto;
  background-color: rgb(20,42, 80);
  padding: 20px;
} */

/*///NAV STYLES///*/
nav ul {
  list-style-type: none;
  margin: 1px;
  text-align: center;
  margin-top: 10px;
}
nav li{
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 4px;
}
nav li a:link, nav li a:visited {
  text-decoration: none;
  color: rgb(35, 22, 36);
  margin: 5px;
}
nav li a:hover {
  color: rgb(57, 124, 123);
}

nav li a.current {
  color: rgb(57, 124, 123);
  border-style: solid;
  border-width: 0px 0px 1.4px 0px;
  border-color: rgb(57, 124, 123);
  padding: 4px;
  font-weight: 500;

}

/* ///HEADERS & PARAGRAPHS/// */
h1{                      /* ///USE FOR HEADER ONLY/// */
  text-align: center;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 10px;
}

h1{
  color: rgb(35, 22, 36);
}

h1 a:hover{
  color: rgb(57, 124, 123);
}


h1 a:link, a:visited {
  color: rgb(35, 22, 36);
  text-decoration: none;
}

.bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.pbold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.thin{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h2{
  text-align: center;
  margin: 0 0 1px 0;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h3{
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: left;
}
h4{                    /* ///USE FOR HEADER ONLY/// */
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
P{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
}

.solid{
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: rgb(35, 22, 36);
}
.solidtop{
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  border-color: rgb(35, 22, 36);
}


/* ///POSITION/// */

.center{
  text-align: center;
}

.left{
  text-align: left;
  margin: 0 0 0 0px;
}

figcaption {
    text-align:center;

}
.left{
  text-align: left;
}
.centered-y{
  margin: 0;
  margin-left: 30px;
}
footer{
  text-align: center;
}

/* ///COLOR LIST/// */

.black{
  background-color: rgb(29, 30, 30);
}
.green{
  background-color: rgb(233, 217, 212);
}
.white{
  background-color: rgb(255, 251, 246);
}
.silver{
  color: rgb(179, 209, 209);
}

.slate{
  color: rgb(57, 124, 123);
}

/* ///Heights/// */
div.tall_100{
  height: 100px;
}
div.tall_600{
  height: 600px;
}
